#fullplayer {
    background-color: #1A1A1D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 0;
    transition: 1s;
    z-index: -1;
    opacity: 0;
    user-select: none;
}

#background_fullplayer {
    filter: blur(10px);
    background-position: center;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.seek_slider {
    height: 5px;
    width: 300px;
    cursor: pointer;
    accent-color: aqua;
}

#current-time,
#total-duration {
    padding: 5px;
    font-family: Poppins-ExtraLight;
    color: white;
}

.audioline {
    border-radius: 25px;
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#miniplayer {
    background-color: #1d1a1c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    width: 100%;
    position: fixed;
    transition: 1s;
    opacity: 1;
    z-index: 1;
    user-select: none;
}

#background_miniplayer {
    filter: blur(10px);
    background-color: #363636;
    background-position: center;
    background-size: cover;
    position: fixed;
    height: 0px;
    width: 100%;
    z-index: 0;

}

.miniplayer_button,
.fullplayer_button {
    font-family: Poppins-ExtraLight;
    text-decoration: none;
    padding: 0px 10px;
    cursor: pointer;
    transition: .5s;
    user-select: none;
    color: white;
}

.miniplayer_button_secret {
    text-decoration: none;
    padding: 0px 10px;
    cursor: pointer;
    user-select: none;
}

.miniplayer_button_size,
.fullplayer_button_size {
    width: 21px;
    height: 21px;
}

#miniplayer_pods {
    height: 0px;
    width: 100%;
    transition: 1s;
}

@media screen and (orientation: landscape) {
    .fullplayer_info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border: #1A1A1D solid 1px;
        z-index: 1;
    }

    #fullplayer_all {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #fullplayer_empty {
        height: 250px;
        width: 150px;
    }

    #fullplayer_layer {
        margin-left: 5px;
        width: 400px;
    }

    #cover_fullplayer {
        width: 250px;
        border-radius: 9px;
        margin-right: 5px;
    }

    #nextsong_fullplayer {
        margin-bottom: 25px;
        color: white;
        font-family: Poppins-ExtraLight;
        text-align: center;
    }

    .miniplayer_cover {
        width: 100px;
        height: 100px;
        border-radius: 9px;
    }

    #miniplayer_layer {
        width: 400px;
        text-align: center;
        display: none;
    }

    #miniplayer_info {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border: #1A1A1D solid 1px;
        z-index: 1;
    }

    #songname_fullplayer {
        font-size: 27px;
        font-family: Poppins-ExtraLight;
        color: white;
    }

    #artistname_fullplayer {
        font-size: 20px;
        font-family: Poppins-ExtraLight;
        color: white;
    }

    #songname_miniplayer {
        text-align: center;
        font-family: Poppins-ExtraLight;
        color: white;
    }

    #artistname_miniplayer {
        text-align: center;
        font-family: Poppins-ExtraLight;
        color: white;
    }
}

@media screen and (orientation: portrait) {
    .fullplayer_info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    #fullplayer_layer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #fullplayer_all {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #nextsong_fullplayer {
        margin-top: 25px;
        color: white;
        font-family: Poppins-ExtraLight;
        text-align: center;
    }

    .miniplayer_cover {
        width: 0px;
        height: 0px;
    }

    #cover_fullplayer {
        width: 250px;
        margin-top: 25px;
        border-radius: 9px;
    }

    #miniplayer_info {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        height: 0px;
    }

    #miniplayer_layer {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 350px;
        text-align: center;
        display: none;
    }

    #songname_fullplayer {
        font-size: 28px;
        text-align: center;
        font-family: Poppins-ExtraLight;
        color: white;
    }

    #artistname_fullplayer {
        font-size: 22px;
        text-align: center;
        font-family: Poppins-ExtraLight;
        color: white;
    }

    #songname_miniplayer {
        font-size: 20px;
        text-align: center;
        font-family: Poppins-ExtraLight;
        color: white;
    }

    #artistname_miniplayer {
        font-size: 16px;
        text-align: center;
        font-family: Poppins-ExtraLight;
        color: white;
    }
}