* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0;
}

body {
    background-color: #1A1A1D;
}

footer {
    background-color: #363636;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}

.menu_buttons {
    width: 40px;
    height: 40px;
    margin: 5px 0px;
    border-radius: 100%;
    transition: .5s;
}

.menu_buttons:hover {
    transform: scale(1.2) rotate(25deg);
}

.menu_playbutton {
    user-select: none;
    cursor: pointer;
}

.menu_playbutton:hover {
    content: url(../img/buttons/menu_play_filled.svg);
}

.menu_line {
    border: 1px solid slategray;
}

.menu_trackcard {
    margin: 3px 20px;
}

@media screen and (orientation: landscape) {

    .menu_quotes {
        text-align: center;
    }

    h2.menu_trackinfo {
        color: white;
        cursor: pointer;
        user-select: none;
        font-family: opensans;
    }

    h4.menu_trackinfo {
        color: white;
        cursor: pointer;
        user-select: none;
        font-family: opensans;
    }

    .menu_base {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url(../img/IMG_20230819_214431.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
    }

    .menu_logo {
        width: 200px;
        height: 200px;
        content: url(../img/hfawhite.png);
    }

    .menu_links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 200px;
        height: 200px;
    }
}

@media screen and (orientation: portrait) {

    h2.menu_trackinfo {
        color: white;
        cursor: pointer;
        user-select: none;
        font-family: opensans;
        font-size: 22px;
    }

    h4.menu_trackinfo {
        color: white;
        cursor: pointer;
        user-select: none;
        font-family: opensans;
        font-size: 17px;
    }

    .menu_quotes {
        display: none;
    }

    .menu_base {
        width: 100%;
        background-image: url(../img/IMG_20230819_214431.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        text-align: center;
    }

    .menu_logo {
        width: 150px;
        height: 150px;
        content: url(../img/hfawhite.png);
    }

    .menu_links {
        text-align: center;
    }
}